.appointment-container {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #b5b7c4;
  padding: 16px;
  margin-bottom: 20px;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 18px;
  color: #171f46;
  font-weight: 500;
  margin: 0px;
}
.date {
  margin: 0px;
  font-size: 14px;
  color: #b5b7c4;
  font-weight: 500;
}
.star-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
